body{
    
     
}

.alarmBody{
    padding-top: 2em;
    margin:auto;
    text-align: center;
    background-color: rgb(170, 138, 96);
    border-radius: 30%;
    width: 18em;
    height: 18em;
}
 
.confgAlarm {
    background-color: rgb(182, 175, 167);
    border-radius: 30em;
}